
<h1>Auth</h1>

<form method="get" action="/auth/login">
  <div>
    <input type="email" name="email" placeholder="email"/>
  </div>
  <div>
    <input type="password" name="password" placeholder="password"/>
  </div>
  <button>Login</button>
</form>